.root {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #11140d;
  text-align: start;
  color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0px solid rgb(130, 87, 51);
  border-right: 3px solid rgb(130, 87, 51);
}
.logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.logoimg {
  width: 43px;
}
.logoText {
  font-size: 30px;
  color: #b7ab85;
  text-decoration-style: solid;
}
.tite {
}
.title {
  color: #b4a885;
  font-weight: 500;
  font-size: 20px;
}
.hr {
  height: 0px;
  border: 1px solid #825733;
  width: 100%;
}
.list {
  padding: 1px;
}
.item {
  list-style-type: none;
  flex-direction: column-reverse;
  font-weight: 500;
  font-size: 30px;
  color: #b7ab85;
}
.hr {
}
.hr {
}
.hr {
}
.hr {
}
.hr {
}
.divider {
  width: 100%;
  display: flex;
}
